:root {
  --theme-color-name: #d88e14;
  --c-primary: rgb(var(--rgb-primary));
  --c-primary-active: #bc7700;
  --c-primary-light: #d88e1480;
  --c-primary-fade: #d2890b1a;
  --rgb-primary: 216, 142, 20;
  --c-dark-primary: rgb(var(--rgb-dark-primary));
  --c-dark-primary-active: #c27b00;
  --c-dark-primary-light: #de931b80;
  --c-dark-primary-fade: #d88e141a;
  --rgb-dark-primary: 216, 142, 20;
}
